@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  background-color: #3d9cd0;
  background-image: linear-gradient(160deg, #3d9cd0 0%, #010118 100%);
}

/* Hide scroll bar for chrome, safari and opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
